<mat-card class="widthSize">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <div style="margin: 50px">
      <h1>Login Here</h1>
      <mat-form-field>
        <input type="email" name="email" ngModel matInput placeholder="E-mail" #emailInput="ngModel" required email/>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required=""/>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Login</button>
    </div>
  </form>
</mat-card>
